.MainContainer {
	height: 100%;
	width: 100%;

	.subContainer {
		height: fit-content;
		width: 600px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		margin: 50px auto;

		.Box1 {
			width: 100%;
			height: 250px;
			border: 0.5px solid lightgray;
			box-sizing: border-box;
			background-color: white;
			box-shadow: 0 3px 8px rgba(0,0,0,0.25);
		}
	}
}
